table {
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    font-family: -apple-system,
        BlinkMacSystemFont,
        segoe ui,
        Roboto,
        helvetica neue,
        Arial,
        noto sans,
        sans-serif,
        apple color emoji,
        segoe ui emoji,
        segoe ui symbol,
        noto color emoji;
    font-size: 14px;
}

thead {
    background-color: #fafafa;
    box-sizing: border-box;
}

th {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

td {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

tr:hover {
    background-color: #fafafa;
}

tbody tr td:hover {
    background-color: #fafafa;
}

.filterIcon {
    width: 18px;
    margin-left: 10px;
}

.filterIcon:hover {
    background-color: #dbdbdb;
}

.table-head-sorter:hover {
    background-color: rgb(240 240 240) !important;
    cursor: pointer;
}

.table-head-filter:hover {
    background-color: rgb(240 240 240) !important;
    cursor: pointer;
}

.table-height {
    min-height: 40rem;
}

@media screen and (max-width : 1360px) {
    .table-content {
        max-width: 64rem;
        max-height: 40rem;
        overflow: auto;
    }
}

@media screen and (max-width : 1024px) {
    .table-content {
        max-width: 45rem;
        max-height: 40rem;
        overflow: auto;
    }
}

@media screen and (max-width : 768px) {
    .table-content {
        max-width: 36rem;
        max-height: 40rem;
        overflow: auto;
    }
}

@media screen and (max-width : 640px) {
    .table-content {
        /* min-height: 34rem; */
        width: 21rem;
        max-height: 34rem;
        overflow: auto;
    }
}